@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

html, body{
    padding: 0;
    margin: 0;
    background-image: url('../imagens/fundo_jogo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#bloco_geral{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    color: #cece03a5;
    text-shadow: 2px 2px 4px #ffff0054;
    font-size: 5em;
    font-family: 'Cinzel Decorative';
}
.placar{
    display: flex;
    width: 100%;
    max-width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border: 1px solid yellow;
    box-shadow: 3px 3px 3px #ffff0054, -3px -3px 3px #ffff0054;
}
.nome_jog, .nome_cpu{
    color: #808001;
    font-size: 1.2em;
    font-family: 'Cinzel Decorative';
}
.separador{
    color: yellow;
    font-size: 1.5em;
}
.placar_jog, .placar_cpu{
    color: #deb307;
    font-size: 1.5em;
    font-family: 'Cinzel Decorative';
}
.texto_jogada{
    color: #808001;
    font-family: 'Cinzel Decorative';
}
.escolhas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 140px;
    height: 65px;
    border: 1px solid yellow;
    box-shadow: 3px 3px 3px #ffff0054, -3px -3px 3px #ffff0054;
}
.jogada_jog{
    color: #808001;
    font-size: 1.5em;
    font-family: 'Cinzel Decorative';
}
.separar_escolha{
    width: 2px;
    height: 60px;
    background-color: #808001;
}
.jogada_cpu{
    color: #808001;
    font-size: 1.5em;
    font-family: 'Cinzel Decorative';
}
.msg_empate{
    display: none;
    margin-bottom: -2em;
    font-family: 'Cinzel Decorative';
    color: #808001;
}
#bloco_escolha{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    height: auto;
    margin-top: 4em;
}
.jogada_pedra, .jogada_papel, .jogada_tesoura{
    width: 100%;
    max-width: 150px;
    background-color: #000000b9;
    border: 1px solid yellow;
    border-radius: 110px;
    transition: .5s;
}
.jogada_pedra:hover, .jogada_papel:hover, .jogada_tesoura:hover{
    cursor: pointer;
    scale: 0.9;
    transition: .5s;
    box-shadow: 3px 3px 3px #deb307, -3px -3px 3px #deb307;
}
@media screen and (max-width: 500px){
    .jogada_pedra, .jogada_papel, .jogada_tesoura{
        width: 100%;
        max-width: 120px;
        background-color: #000000b9;
        border: 1px solid yellow;
        border-radius: 110px;
        transition: .5s;
    }
    .jogada_pedra:active, .jogada_papel:active, .jogada_tesoura:active{
        scale: 0.9;
        transition: .5s;
        box-shadow: 3px 3px 3px #deb307, -3px -3px 3px #deb307;
    }
}
@media screen and (max-width: 400px){
    .jogada_pedra, .jogada_papel, .jogada_tesoura{
        width: 100%;
        max-width: 100px;
        background-color: #000000b9;
        border: 1px solid yellow;
        border-radius: 110px;
        transition: .5s;
    }
    .jogada_pedra:active, .jogada_papel:active, .jogada_tesoura:active{
        scale: 0.9;
        transition: .5s;
        box-shadow: 3px 3px 3px #deb307, -3px -3px 3px #deb307;
    }
    .titulo{
        color: #cece03a5;
        text-shadow: 2px 2px 4px #ffff0054;
        font-size: 4em;
        font-family: 'Cinzel Decorative';
    }
}
@media screen and (max-width: 350px){
    .titulo{
        color: #cece03a5;
        text-shadow: 2px 2px 4px #ffff0054;
        font-size: 3em;
        font-family: 'Cinzel Decorative';
    }
    .texto_jogada{
        color: #808001;
        font-family: 'Cinzel Decorative';
        font-size: 1.5em;
    }
    .jogada_pedra, .jogada_papel, .jogada_tesoura{
        width: 100%;
        max-width: 85px;
        background-color: #000000b9;
        border: 1px solid yellow;
        border-radius: 110px;
        transition: .5s;
    }
    .jogada_pedra:active, .jogada_papel:active, .jogada_tesoura:active{
        scale: 0.9;
        transition: .5s;
        box-shadow: 3px 3px 3px #deb307, -3px -3px 3px #deb307;
    }
}