@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

html,body{
    padding: 0;
    margin: 0;
    background-image: url('../imagens/fundo_inicial.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: black;
}
#bloco_geral{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#bloco_apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0000009a;
    border: 1px solid #ffff00b3;
    width: 100%;
    max-width: 600px;
    height: 300px;
    color: #ffff009e;
    box-shadow: 3px 3px 5px #ffff009e, -3px -3px 5px #ffff009e;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 4px #ffff0054;
    font-family: 'Cinzel Decorative';
}
.texto_apresentacao{
    width: 100%;
    max-width: 220px;
    text-align: center;
}
.botao_iniciar{
    margin-top: 2em;
    width: 100%;
    max-width: 160px;
    height: 40px;
    background-color: #ffff009e;
    border: 1px solid transparent;
    border-radius: 12px;
    transition: .5s;
}
.botao_iniciar:hover{
    cursor: pointer;
    scale: .92;
    transition: .5s;
}
.botao_iniciar:active{
    scale: .92;
    transition: .5s;
}